@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media print {
    @page {
      margin: 0;
      size: auto;
    }
    html, body {
      height: 100%;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }
    body {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
    /* Hide everything by default, then show our specific print view */
    #root > div > *:not(.print\:block) {
      display: none !important;
    }
  }
}
